*{
    box-sizing: border-box;
    margin: 0;
    font-family: shabnam;
}

@font-face {
    font-family: shabnam;
    src: local("shabnam"), url("/Learn/Mini-project1/Fonts/Shabnam.ttf") format("true type");
}

.container{
    max-width: 1216px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
    margin-bottom: 50px;
    background-color: #F5F5F5;
    padding: 20px
}

.font{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.flash-icon{
    width: 30px;
    height: 30px;
}

.popular-item{
    display: flex;
    align-items: center;
}

.top-bar{
    max-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-direction{
    text-decoration: none;
    display: inline-block;
}

.more{
    display: inline;
}

.items{
    margin: 56px 20px 0px;
    display: flex;
    justify-content: space-between;
}

.item-box{
    max-width: 230px;
    max-height: 400px;
    height: 100%;
    background-color: #fff;
    padding: 10px;
}

.name-img{
    height: 300px;
}
.img{
    display: block;
    height: 200px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

}

.item-name{
    display: block;
    font-size: 14px;
    color: #424242;
    text-align: justify;
    text-decoration: none;
    color: #212121;
    line-height: 1.6;
    height: 90px;
}

.item-info{
    margin-top: 20px;
}

a:hover{
    color: #303F9F;
}

.off-box{
    display: flex;
    margin-bottom: 5px;
    gap: 10px;
}

.off{
    text-decoration: line-through;
    font-size: 14px;
    color: #616161;
}

.Percentage{
    color: #1565C0;
    font-size: 15px;
}

.star{
    display: block;
    height: 15px;
    width: 15px;
}

.flex{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.off-price{
    font-weight: bold;

}

.score{
    font-size: 14px;
}